.edit-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    min-height: 259px;
    margin: 34px 36px 37px 36px;
}

@media screen and (max-width: 768px) {
    .edit-form {
        margin: 25px 22px 25px 22px;
        min-height: 272px;
    }
}
