.edit-form {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    height: 330px;
    width: 430px;
}

@media screen and (max-width: 768px) {
    .edit-form {
        width: 282px;
        height: 322px;
    }
}
