.footer__text {
    color: #545454;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-top: 67px;
    margin-bottom: 60px;
}

@media screen and (max-width: 890px) {
    .footer__text {
        margin-top:48px;
        margin-bottom: 36px;
        margin-left: 19px;
        font-size: 14px;
        line-height: 17px;
    }
}