.edit-form__form {
    padding: 36px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

@media screen and (max-width: 768px) {
    .edit-form__form {
        padding: 22px;
    }
}