.profile__description {
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    color: white;
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 400px;
}

@media screen and (max-width: 768px) {
    .profile__description {
        font-size: 14px;
        line-height: 16px;
        max-width: 220px;
        text-align: center;
    }
}
