.elements__like {
    background-image: url("../../../images/like.svg");
    height: 19px;
    width: 22px;
    padding-right: 15px;
    background-repeat: no-repeat;
    cursor: pointer;
}

.elements__like:hover {
    opacity: 0.5;
}