.elements__like {
    background-image: url("../../../images/like.svg");
    height: 19px;
    width: 22px;
    background-repeat: no-repeat;
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: block;
    padding: 0 20px;
}

.elements__like:hover {
    opacity: 0.5;
}