@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

@import url(../blocks/website/website.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__edit/profile__edit.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__edit-button/profile__edit-button.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__main/profile__main.css);
@import url(../blocks/elements/elements.css);

.elements {
    display: flex;
    flex-wrap: wrap;
}

.elements__element {
    border-radius: 10px;
    background: red;
    width: 282px;
    margin-right: 17px;
    margin-bottom: 17px;
}

.elements__element:nth-child(3n) {
    margin-right: 0;
}

.elements__pic {
    border-radius: 10px 10px 0 0;
    height: 282px;
    width: 282px;
}
.elements__info {
    height: 80px;
    background-color: white;
    border-radius: 10px;
    display: flex;
}

.elements__text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 15px 31px 21px;
    flex: 1;
}

.elements__title {
    font-size: 24px;
    line-height: 29px;
    font-weight: 900;
    padding: 0;
    color: black;
    margin: 0;
}

.elements__like {
    background-image: url("../images/like.svg");
    height: 19px;
    width: 22px;
}