.profile__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

@media screen and (max-width: 768px) {
    .profile__info {
        align-items: center;
        margin-top: 22px;
    }
}