.edit-form__close-button {
    position: absolute;
    top: -40px;
    right: -40px;
    width: 40px;
    height: 40px;
    background-image: url("../../../images/Close Icon.png");
    background-size: cover;
    cursor: pointer;
}

.edit-form__close-button:hover {
    opacity: 0.5;
}

@media screen and (max-width: 768px) {
    .edit-form__close-button {
        width: 26px;
        height: 26px;
        top: -39px;
        right: 0;
    }
}